@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    --primary-color: #7159c1;
    --secondary-color: #F7DF1E;
}

body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.links{
    font-size: 22px;
   
}

.links a + a{
    margin-left: 32px;
    
}

.links a{
    color: #777;
    text-decoration: none;
    position: relative;
}
.links a.active{
    font-weight: bold;
    color: var(--primary-color);

}
.links a:hover{
    
    color: var(--primary-color);
}

.links a::after{

    /* sublinhado após passar o mouse em cima */
    content:"";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -2px;
}
.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out; 

}

.card{
    background-color: white;
    width: 800px;
    min-height: 400px;

    /* espaço ao centro */
    margin: 45px auto;

    /* colunas */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 5px 20px 10px -5px rgba(0, 0, 0, 0.6);
    opacity: 0;

    animation-name: up;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-play-state: running;
    /* animation-iteration-count: 3; */
    /* animation-direction: reverse; */
}

@keyframes up{
    from {
        transform: translateY(15px);    
    }
    to {
        opacity: 1;
    }
}

.detais{
    padding: 32px;
}

.detais .item{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 16px 0;
}

.detais .item:last-child{
    border: none;
}
.detais h3,
.detais .item div:nth-child(1){
    color: #777;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.detais .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;

}
.detais h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.detais .item div:nth-child(2) span{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: end;
    
}

form input,
select{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

form input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
a.button,
button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;

}
a.button{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;

}

#form-delete button[type="submit"]{
    margin-top: 12px;
    background-color: rgb(158, 19, 151);
}

.table-container{
    width: 880px;
    display: block;
    padding: 40px;
    box-sizing: border-box;
}
.table-container a{
    height: 16px;
    width: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table-container table{
    border-spacing: 0;
}

.table-container thead tr th{
    text-align: left;
}

td, th{
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
    align-items: center;
}

th{
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;  
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position:center ;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a{
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.table-container thead tr th:last-child,
 td:last-child{ 
    text-align: center;
}

tbody td:nth-child(2) span{
    
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: end;
    
}
.table-container .header{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
    
}
.table-container .header form{
   
    display: grid;
    grid-template-columns: 1fr 120px;    
    align-items: center;    
    grid-gap: 8px;
}
.table-container .header form button{
    margin-top: 0;
    height: 100%;
}
.table-container .header form input{
    border: 1px solid #eeeeee;
    padding: 4px 8px;
}


.table-container .header a{
    margin-top: 0;
    width: 120px;
    height: 100%;

}

.pagination{
    
    display: flex;
    justify-content: center;
}

.pagination a{
    width: 24px;
    text-decoration: underline;
    color: var(--primary-color);
}
.pagination p{
    margin-top: 6px;
}

/* 
.a{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 24px;
}
.a a{
    background-color: rgb(158, 19, 151);
} */